<h1>Listing hoges</h1>

<table>
  <tr>
    <th>Foo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hoges.each do |hoge| %>
  <tr>
    <td><%= hoge.foo %></td>
    <td><%= link_to 'Show', hoge %></td>
    <td><%= link_to 'Edit', edit_hoge_path(hoge) %></td>
    <td><%= link_to 'Destroy', hoge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hoge', new_hoge_path %>
