<h1>Listing hoges</h1>

<%= form_tag (search_hoges_path) do %>
<table>
  <tr>
    <th></th>
    <th>Foo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hoges.each do |hoge| %>
  <tr>
    <td><%= check_box_tag "checked_items[#{hoge.id}]", hoge.id %></td>
    <td><%= hoge.foo %></td>
    <td><%= link_to 'Show', hoge %></td>
    <td><%= link_to 'Edit', edit_hoge_path(hoge) %></td>
    <td><%= link_to 'Destroy', hoge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Hoge', new_hoge_path %>

<%= submit_tag 'filter' %>
<% end %>
