<h1>New hoge</h1>

<%= form_for @hoge, url: {action: 'confirm'} do |f| %>
  <div class="field">
    <%= f.label :foo %><br />
    <%= f.text_field :foo %>
  </div>
  <div class="actions">
    <%= f.submit 'confirm' %>
  </div>
<% end %>

<%= link_to 'Back', hoges_path %>
